aiodns==1.1.1
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.3.1
Automat==20.2.0
binance==0.3
ccxt==1.24.90
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cycler==0.10.0
dateparser==0.7.4
hyperlink==19.0.0
idna==2.9
idna-ssl==1.1.0
incremental==17.5.0
kiwisolver==1.1.0
matplotlib==3.2.1
multidict==4.7.5
numpy==1.18.2
pandas==1.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==3.1.1
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2019.3
regex==2020.2.20
requests==2.23.0
service-identity==18.1.0
six==1.14.0
Twisted==20.3.0
txaio==20.3.1
typing-extensions==3.7.4.1
tzlocal==2.0.0
urllib3==1.25.8
yarl==1.1.0
zope.interface==5.0.1
